.page{
  height: 90vh;
}
.title {
  float: left;
}
hr {
  margin: 10px;
}
.status {
  border: 1px grey;
  border-top: 2px solid grey;
  margin-bottom: 3em;
  background-color: #EFF2FB;
}
tr {
  height: 5vh;
}
.status th {
  padding: 5px;
  margin: 0;
  height: 10px;
  background-color: #E0E0F8;
}
td {
  border: 2px  grey;
  width: auto;
}
.status td {
  width: auto;
}
.message td {
  padding: 5px;
  margin: 0;
  height: 10px;
}
b {
  font-size: 30px;
}
.col-left {
  width: 65%;
  margin-left: 10px;
  margin-right: 0px;
  padding-right: 0px;
  float: left;
}
.panel-left {
  width: 33%;
  border: 1px grey;
  border-top: 2px solid grey;
  padding: 1px;
  margin: 1px;
  float: left;
}
.panel-right {
  width: 33%;
  border: 1px grey;
  border-top: 2px solid grey;
  padding: 1px;
  float: right;
  margin-right: 4px;
}
.panel-heading {
  font-weight: 700;
  min-height: 100%;
  text-align: center;
  line-height: 3.5;
  background-color: #E0E0F8;
}
.status-button {
  background-color: white;
  height: 53px;
  max-height: 100%;
  background-color: #EFF2FB;
  padding: 1px;
  margin: 1px;
  border: 1px grey;
}
.list-group button:focus {
  outline: none;
}
.list-group button:hover {
  background-color: #E9E9FB;
}
.label {
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  float: left;
  margin-left: 25px;
  margin-top: 15px;
}
.label-danger {
  background-color: #d9534f;
  color: white;
}
.label-primary {
  background-color: #337ab7;
  color: white;
}
.label-answer {
  background-color: #28a745;
  color: white;
}
.label-default {
  background-color: #777;
  color: white;
}
.friend {
  float: right;
  width: 65%;
  text-align: center;
}
.friend td{
  padding: 1px 5px;
}
.sub-title {
  font-weight: 700;
  border-top: 2px solid grey;
  background-color: #E0E0F8;
  min-height: 100%;
  line-height: 3.5;
}
.date {
  width: 30%;
  font-size: 16px;
}
.change {
  width: 13%;
}
.joinNum {
  width: 20%;
}
.joinNum button {
  padding-left: 5px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5%;
  color: grey;
  font-size: 10px;
}
.blockNum {
  width: 26%;
}
.frNum {
  text-align: center;
}
.alarm-list {
  width: 100%;
}
.msg-number {
  float: right;
  margin-right: 15px;
  line-height: 50px;
}
.tips {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cover {
  position: absolute;
  background-color: #FFFFFF;
  opacity: 50%;
}
.top_cover {
  top: 0;
  width: 100%;
  z-index: 2;
}
.bottom_cover {
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.left_cover {
  left: 0;
  height: 100%;
  z-index: 2;
}
.right_cover {
  right: 0;
  height: 100%;
  z-index: 2;
}
.focus_line {
  position: absolute;
  border: 3px dashed #dc3545;
  z-index: 2;
}
.explanation {
  position: absolute;
  background-color: #000000;
  opacity: .85;
  border-radius: 8px;
  z-index: 3;
}
.info_mark {
  color: #ffc107;
  font-size: 25px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.page_move {
  position: absolute;
  bottom: 18%;
  width: 98%;
  height: 12px;
  margin: 0 auto;
  color: #007bff;
}
.right_move {
  position: relative;
  left: 130px;
}
.left_move {
  position: relative;
  right: 115px;
}
.mover {
  font-size: 22px;
}
.mover:hover {
  cursor: pointer;
}
.tips_detail {
  margin: 13px;
}
.tips_letter {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}


.waiting-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.spinner {
  margin: 350px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.chart {
  height: 30vh;
  width: 402px;
}
.follow-data {
  width: 15em;
}
.goal {
  font-size: 30px;
  width: 50%;
}
.message-number {
  width: 33.3%;
}