<h2 class="center">会員登録</h2>
<div class="bigBox">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field input-field">
    <label for="user_グループ名">グループ名</label>
    <input type="text" name="user[group]" id="user_group">
    <span class="validation" id="group_checker"></span>
  </div>

  <div class="field input-field">
    <label for="user_グループキー">グループキー</label>
    <input type="password" id="user_group_key">

    <i class="material-icons visibility" id="visible">visibility</i>
    <i class="material-icons visibility" id="invisible">visibility_off</i>
    <i class="material-icons" id="help">help</i>
    <button id="checkId" type="button">CHECK</button>
    <span class="validation" id="checker"></span>
  </div>

  <div class="field input-field">
    <label for="user_email">E-mail</label>
    <input type="text" name="user[email]" id="user_email">
    <span class="validation" id="idCheckResult"></span>
  </div>

  <div class="field input-field">
    <label for="user_パスワード">パスワード</label>
    <input autocomplete="new_password" type="password" name="user[password]" id="user_password">
    <span class="validation" id="pwdCheckResult"></span>
  </div>

  <div class="field input-field">
    <label for="user_パスワード確認">パスワード確認</label>
    <input autocomplete="new_password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
    <span class="validation" id="pwdRecheckResult"></span>
  </div>

  <div class="field input-field">
    <label for="user_代表番号">電話番号</label>
    <input type="text" name="user[group_phone_number]" id="user_group_phone">
  </div>

  <div class="actions">
    <button id="joinBtn" class="button" type="button" style="display: none;">
      登録する
    </button>
  </div>
  <% end %>

  <a class="right" href="/users/sign_in">ログイン画面に戻る</a>
</div>
<script type="text/javascript">
  $(function(){
    $.ajaxSetup({
      headers: {
        'X-CSRF-TOKEN': $('input[name="authenticity_token"]').val()
      }
    });

    $('#user_group').on('keyup',function(e){
      if(e.which == 13){
        groupkeyCheck();
      }
    })
    $('#user_group_key').on('keyup',function(e){
      if(e.which == 13){
        groupkeyCheck();
      }
    })

    $('#checkId').on('click', groupkeyCheck);
    $('#user_email').on('keyup', emailCheck);
    $('#user_password').on('keyup', passwordCheck);
    $('#user_password_confirmation').on('keyup', passwordCheck);
    $('#joinBtn').on('click', joinValidation);

    let groupBool = false;
    let emailBool = false;
    let visible = false;

    function groupkeyCheck(){
      var group = $('#user_group').val()
      var group_key = $('#user_group_key').val()
      var data = { "group": group, "group_key": group_key }
      if(group.length==0){
        alert("グループの名前を入力してください。");
        return false;
      }else if(group_key.length==0){
        alert("グループキーを入力してください。");
        return false;
      } else{
        $.ajax({
          method: 'post',
          url: 'api/find_group_key',
          data: data,
          success: function(res){
            if (res!=null){
              if(res==false){
                $('#checker').html("認証できません。認証キーがなければ発給の後で登録ができます。");
                $('#checker').css({"color": "red"});
                return false
              } else {
                $('#checker').html("認証完了");
                $('#checker').css({"color": "green"});
                $('#joinBtn').css({"display": "unset"})
                return true
              }
            } else {
              $('#checker').html("グループ無し");
              $('#checker').css({"color": "red"});
              return false
            }
          }
        })
        return true
      }
    }

    function emailCheck(){
      let userId = $('#user_email').val();
      if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(userId)){
        $('#idCheckResult').html("メール形式が間違いました。");
        $('#idCheckResult').css({"color": "red"});
        return false;
      } else{
        var data = {"user_id" : userId}
        $.ajax({
          method : 'post',
          url : 'api/idCheck',
          data : JSON.stringify(data),
          contentType : 'application/json; charset:utf-8',
          success : function(num){
            if(num==0){
              $('#idCheckResult').html("このアカウントはできます。");
              $('#idCheckResult').css({"color": "green"});
              return true;
            } else{
              $('#idCheckResult').html("もう登録されたアカウントです。");
              $('#idCheckResult').css({"color": "red"});
              return false;
            }
          }
        })
        return true;
      }
    }

    function passwordCheck(){
      let userPwd = $('#user_password').val();
      let userConfirm = $('#user_password_confirmation').val();
      if(userPwd.length==0){
        $('#pwdCheckResult').html("");
        return false
      } else if(!/^[a-zA-Z0-9!@#$%^&*()?_~]{6,12}$/.test(userPwd)){
        $('#pwdCheckResult').html("パスワードは6文字から12文字までの文字列です。");
        $('#pwdCheckResult').css({"color": "red"});
        return false
      } else{
        $('#pwdCheckResult').html("パスワードを入力完了");
        $('#pwdCheckResult').css({"color": "green"});
        if(userConfirm==0){
          $('#pwdRecheckResult').html("");
          return false
        } else if(userPwd != userConfirm){
          $('#pwdRecheckResult').html("パスワードが違います。");
          $('#pwdRecheckResult').css({"color": "red"});
          return false
        } else {
          $('#pwdRecheckResult').html("パスワード確認完了");
          $('#pwdRecheckResult').css({"color": "green"});
          return true
        }
      }
    }

    function joinValidation(){
      let userId = $('#user_email').val();
      let userPwd = $('#user_password').val();
      let userConfirm = $('#user_password_confirmation').val();
      let user_group_phone = $('#user_group_phone').val();
      if(userId.length==0){
        console.log(userId.length)
        alert("メールを入力してください。");
        return false
      } else if(userPwd.length==0){
        alert("パスワードを入力してください。");
        return false
      } else if(userConfirm.length==0){
        alert("パスワード確認を入力してください。");
        return false
      } else if(user_group_phone.length==0){
        alert("電話番号を入力してください。");
        return false
      } else {
        var groupBool = groupkeyCheck();
        var emailBool = emailCheck();
        var passwordBool = passwordCheck();

        if(groupBool&&emailBool&&passwordBool){
          $('#new_user').submit();
        }
      }
    }

    var toggle = false
    $('.visibility').on('click',function(){
      if(toggle == false){
        $('#invisible').css({"opacity": 0});
        $('#visible').css({"opacity": 1});
        $('#user_group_key').attr("type", "text");
        toggle = !toggle
      } else {
        $('#invisible').css({"opacity": 1});
        $('#visible').css({"opacity": 0});
        $('#user_group_key').attr("type", "password");
        toggle = !toggle
      }
    })
  })
</script>

<style>
  #help {
    left: 833px;
  }
  #help:hover {
    color: #00b900;
  }
  .bigBox {
    width: 60%;
    margin: 0 auto;
  }
  .button {
    width: 100%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 5px;
  }
  .button:hover {
    background-color: #039be5;
    color: white;
  }
  #checkId {
    float: right;
    width: auto;
    height: 30px;
    line-height: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    z-index: 200;
    position: absolute;
    top: 12px;
    left: 880px;
  }
  #checkId:hover {
    cursor: pointer;
    background-color: #039be5;
    color: white;
  }
  .material-icons {
    z-index: 100;
    position: absolute;
    top: 12px;
    left: 800px;
  }
  .material-icons:hover {
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  }
  .group {
    display: grid;
    position: relative;
  }
</style>
