.page {
  height: 91vh;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}
.label{
  border-bottom: 2px solid grey;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
}
.label button {
  margin-left: 30px;
}
.col {
  float: left;
  padding: 2px 5px;
  margin: 10px 2px;
  text-align: left;
}
.col-left {
  height: 90vh;
  width: 24.8%;
}
.folder {
  font-size: 40px;
  color: #00B900;
  margin-right: 30px;
}
.open-file{
  font-size: 20px;
  color: #00B900;
  line-height: 42px;
  padding-left: 20px;
}
.title {
  float: left;
  padding-left: 10px;
  width: 100%;
  text-align: left;
}
ul li {
  height: 30px;
  line-height: 30px;
  border: unset;
  margin: 10px 0px;
}
ul li span{
  height: 30px;
  line-height: 30px;
  border: unset;
  margin: 10px 0px;
  align-items: center;
  font-size: 20px;
}
.category {
  border: inherit;
}
hr {
  margin: 5px;
  width: 95%
}
button.button {
  margin-left: 5px;
  font-size: 10px;
  background-color: #fff;
  color: #2C3250;
  padding: 0px 0px;
  border-radius: 100%;
}
.button:hover {
  text-decoration: none;
  color: white;
}
.button:focus {
  outline: none;
}
.button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.folder {
  padding-left: 15px;
}
.btnMark {
  font-size: 20px;
}
input[type=text] {
  width: 77%;
  padding: 0px 0px;
  margin: 0px 40px;
}
.open-file-added {
  font-size: 20px;
  line-height: 39px;
  padding-left: 4px;
}
div.added-folder {
  position: relative;
  margin-top: 5px;
  height: 37px;
  line-height: 37px;
  text-align: center;
}
.added-folder span {
  font-size: 20px;
}
.added-folderBtn {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
  color: black;
  width: 90%;
  float: left;
  -webkit-appearance: media-sliderthumb;
}
.added-folderBtn:hover {
  cursor: pointer;
}
.added-folderBtn span{
  padding-right: 70px;

}
.added-folderBtn button{
  line-height: 30px;
}
.added-folderBtn:focus {
  outline: none;
}
.detail-panel {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  padding: 1px 5px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 3px;
  height: 20px;
}
.detail-panel:focus {
  outline: none;
}
.down{
  font-size: 15px;
}
.edit-panel {
  position: relative;
  background-color: white;
  padding: 0px;
  width: 98%;
  height: 480px;
  z-index: 10;
}
.folderEdit {
  width: 100%;
  height: 50%;
  line-height: 50%;
  padding: 0px;
  margin: 0px;
}
.col-right {
  height: auto;
  float: right;
  width: 48%;
  margin-right: 22px;
}
table {
  margin-top: -12px;
}
input[type=checkbox]{
  position: relative;
  opacity: 1;
  pointer-events: visible;
  border: 1px solid;
  display: inherit;
}
input[type=text] {
  margin-right: 0px;
}
.addFolderBtn {
  float: right;
  height: 40px;
  width: 50px;
  margin-top: 5px;
  margin-right: 20px;
  border-radius: 8px;
  background: #00b500;
  color:#fff;
  border:none;
  position:relative;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-weight: 700;
}
.addFolderBtn:hover {
  border: 2px solid #009b00;
  background: #fff;
  color: #009b00;
  opacity: 0.8;
}
.addFolderBtn:focus {
  outline: none;
}
.allSend-button {
  background-color: #C0C0C0;
  color: #2C3250;
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid #C0C0C0;
  box-shadow: 0 0 2px #666;
  float: right;
  font-size: 16px;
  margin-right: 20px;
}
.allSend-button:hover {
  text-decoration: none;
  background-color: #2C3250;
  color: white;
}
.allSend-button:focus {
  outline: none;
  background-color: #2C3250;
  color: white;
}
.allSend-button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.slideInOut-enter-active{
  animation: slideInLeft .5s;
}
.slideInOut-leave-active{
  animation: slideOutLeft .5s;
}
.fadeInOut-enter-active {
  animation: fadeInLeft .5s;
}
.fadeInOut-leave-active {
  animation: fadeInLeft .5s;
}
.slideUpDown-enter-active {
  animation: slideInDown .5s;
}
.slideUpDown-leave-active {
  animation: slideInDown .5s reverse;
}
.options tr th{
  text-align: center;
}
.contentBtns {
  float: left;
  width: 5%;
}
.chattingContents {
  background-color: #EEECFF;
  padding: 30px 30px;
  width: 94%;
  height: 68vh;
  border: 1px solid #C0C0C0;
  box-shadow: 0 0 2px #666;
  border-radius: 5px;
  resize: none;
  float: right;
}
.chattingContents:focus {
  outline: none;
}
.right-panel {
  margin: 16px 10px;
  padding: 0px 0px;
  text-align: left;
  width: 98%;
  height: 90%;
  border: 1px solid #C0C0C0;
  box-shadow: 0 0 2px #666;
  border-radius: 8px;
  float: right;
  overflow: hidden;
  margin-bottom: 0px;
}
.stamp {
  font-size: 30px;
  width: 100%;
  height: auto;
  color: grey;
  padding: 5px;
}
.stamp:hover {
  font-size: 31px;
}
.stampBtn {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  padding-left: 0;
  padding-right: 0;
}
.stampBtn:active {
  background-color: rgb(230,250,210);
}
.stampBtn:focus {
  outline: none;
  background-color: rgb(255,255,255);
}
.sc-list td {
  text-align: center;
}
.sticker-panel {
  width: 90%;
  height: 25.7%;
  position: absolute;
  z-index: 30;
  top: 58%;
  right: 3%;
  background-color: white;
  border-radius: 8px;
  opacity: 0.9;
  overflow: scroll;
}
.stamp-panel-left {
  float: left;
  width: 5%;
  height: 100%;
  position: relative;
  text-align: center;
  border-radius: 8px;
}
.stamp-panel-right {
  float: right;
  width: 95%;
  height: 100%;
  position: relative;
  text-align: center;
  border-radius: 8px;
}
.stampBtnImg {
  padding: 0px 0px;
  margin: 0px 0px;
  height: 30px;
  width: 30px;
}
.stampArea {
  width: 20%;
  height: 335px;
  border-radius: 8px;
  background-color: #EEECFF;
  position: absolute;
  top: 11%;
  right: 13%;
  text-align: center;
  margin: 0 auto;
}
a:not([href]):not([tabindex]) {
  cursor: pointer;
  color: blue;
}
a:not([href]):not([tabindex]):hover{
  color: blue;
  text-decoration-line: underline;
}
.closeStamp {
  float: right;
}
.closeStamp:hover {

}
select {
  background-color: white;
  width: 15%;
  padding: 5px;
  margin: 0 auto;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
  display: inherit;
}
.detailWindow {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: .9;
}
.detailPanel {
  position: absolute;
  background-color: black;
  width: 25em;
  height: auto;
  top: 8em;
  left: 60em;
  opacity: 2;
  z-index: 20;
  border-radius: 12px;
}
.closeDetail:not([href]):not([tabindex]) {
  float: right;
  color: white;
  font-size: 30px;
  margin-right: 5px;
}
.closeDetail:not([href]):not([tabindex]):hover {
  color: blue;
  text-decoration-line: none;
  font-size: 34px;
}
.detailContents {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  margin-right: 60px;
  width: 90%;
  height: 80%;
}
.detail {
  background-color: white;
  height:25em;
  border-radius: 8px;
  overflow: scroll;

}
.detail:focus {
  outline: none;
}
.smallEmoji {
  width: 20px;
  height: 20px;
}
.imageBtn {
  display: none;
}
label.stampBtn {
  border: 1px solid #C0C0C0;
  box-shadow: 0 0 .1px #666;
  margin-bottom: 0px;
}
label.stampBtn:hover {
  cursor: pointer;
}
label.stampBtn:active {
  background-color: rgb(255,255,255);
  border-left-color: #A9AAAA;
  border-top-color: #A9AAAA;
}
label.stampBtn:focus {
  background-color: rgb(255,255,255);
}
.attachedImg {
  width: 18em;
  border-radius: 8px;
  position: relative;
  right: 55%;
}
.attachedImgPanel {
  width: 20%;
  height: 32%;
  border-radius: 8px;
  position: absolute;
  top: 10vh;
  right: 17%;
  text-align: center;
  margin: 0 auto;
  z-index: 3;
}
.imageResult {
  width: 70px; height: 70px;
}
.googleMap {
  width: 47%;
  height: 71.5%;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: 11.5%;
  right: 3.2%;
  text-align: center;
  margin: 0 auto;
}
.placeSearch{
  position: absolute;
  top: -7vh;
  right: 10vh;
  z-index: 9;
}
.sendBtn {
  height: 5vh;
  width: 49.2%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 5px;
  text-align: center;
}
.sendBtn:active {
  opacity: 1;
}
.sendBtn:focus{
  outline: none;
  background-color: white;
}
.sendBtn:focus:hover {
  background-image: linear-gradient(-90deg, #009b00, #009baa);
  color: white;
}
.edit {
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
.edit-button {
  background-color: #C0C0C0;
  color: #2C3250;
  padding: 3px 5px;
  border-radius: 10px;
  border: 1px solid #C0C0C0;
  box-shadow: 0 0 2px #666;
  float: left;
  font-size: 14px;

}
.edit-button:hover {
  text-decoration: none;
  background-color: #2C3250;
  color: white;
}
.edit-button:focus {
  outline: none;
  background-color: #2C3250;
  color: white;
}
.edit-button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.tadaInOut-enter-active{
  animation: fadeIn .5s;
}
.tadaInOut-leave-active{
  animation: fadeIn .5s reverse;
}
.options-panel {
  height: 75vh;
  overflow: scroll;
}
.setting {
  font-size: 16px;
  color: black;
}
.settingRadio {
  opacity: 1;
  position: relative;
  pointer-events: fill;
}
input.with-gap {
  display: none;
}
p.timeSet {
  margin-bottom: 0px;
  margin: 0 auto;
}
span.optCheck {
  font-size: 15px;
  padding-left: 22px;
}
input.timeRange {
  width: 30%;
}
p.settingMenu {
  margin-bottom: 0px;
  background: aliceblue;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
#added-folderBtn {

}
.keyword_cancel {
  position: relative;
  font-size: 20px;
  color: #007bff;
  top: 18px;
}
.keyword_cancel:hover {
  color: #007Fff;
}
input.keywordInput {
  width: 78%;
}
input.countSet {
  width: 80%;
  text-align: center;
}
.okBtn:hover {
  background-image: linear-gradient(-90deg, #009b00, #009baa);
  background-color: #009b00;
  color: white;
  opacity: 0.8;
}
.cancelBtn:hover {
  background-image: linear-gradient(-90deg, red, yellow);
  color: white;
  opacity: 0.8;
}
.reactionAll {
  position: absolute;
  top: 5vh;
  left: 4.5vh;
  border-radius: 8px;
  width: 96.2%;
  height: 71vh;
  z-index: 300;
  background-color: white;
  overflow: scroll;
}
.right-panel-small {
  margin: 16px 10px;
  padding: 0px 0px;
  text-align: left;
  width: 98%;
  height: 95%;
  border-radius: 8px;
  float: right;
}
table.actionList tbody tr{
  height: 12vh;
}
input.daysInput {
  text-align: center;
  width: 30%;
}
div.tags {
  float: right;
  height: 7vh;
  width: 100%;
  line-height: 2.5em;
}
input.tagInput {
  float: left;
  height: auto;
  width: 10em;
  margin-left: 2%;
  margin-right: 0px;
}
button.tagList {
  color: #007FFF;
  margin-right: 10px;
  margin-top: 1%;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 17px;
}
button.tagList:focus {
  outline: none;
  color: #007FFF;
  background-color: white;
}
div.tags-top {
  width: 100%;
  height: 48%;
  margin-top: 1%;
}
div.tags-bottom {
  width: 95%;
  height: 48%;
  margin: 2% 1%;
}
.keywordsTag:focus {
  background: white;
}
.option-setting {
  width: 99%;
}
.option-buttons {
  height: 2em;
  width: 100%;
  float: right;
  display: flow-root;
}
.scroll-button {
  width: fit-content;
  position: absolute;
  top: 50%;
  border-radius: 100%;
  opacity: 0.8;
}
.scroll-button:focus {
  outline: none;
  background-color: white;
}
.scroll-right {
  right: 2%;
}
.scroll-left {
  left: 16%;
}
.move-scroll {
  font-size: 50px;
  color: #999999;
}
.carouselArea {
  height: 75.5%;
  position: absolute;
  right: 1em;
  background: #2C3E5B;
  border-radius: 8px;
  top: 4em;
  z-index: 4;
}
.carousel-box {
  height: 100%;
  float: left;
  overflow-x: scroll;
  overflow-y: hidden;
}
.bubble {
  background: white;
  width: 280px;
  height: 94%;
  border-radius: 8px;
  margin: .1em .3em;
  display: inline-block;
  vertical-align: text-top;
}
.add-button {
  float: left;
  height: 64vh;
  width: 3%;
  z-index: 10;
  color: white;
}
.open-circle {
  font-size: 30px;
  color: white;
  margin-top: 30vh;
}
.open-circle:hover {
  font-size: 33px;
  cursor: pointer;
}
.open-circle:active {
  font-size: 30px;
}
.bubble-box {
  width: max-content;
  height: 100%;
}
.header-block {
  min-height: 16%;
  text-align: left;
}
.hero-block {
  height: 54%;
}
.body-block {
  min-height: 16%;
  text-align: left;
}
.footer-block {
  min-height: 12%;
  text-align: center;
}
.blocks {
  margin: 2px 1px;
  border-radius: 8px;
  border: 3px dotted #111;
}
.blocks:focus {
  outline: none;
}
.close-block {
  color: grey;
  font-size: 15px;
  float: right;
  margin: 3px 3px;
}
.copy-bubble {
  width: 49.5%;
  color: white;
  background: #0000FF;
  font-weight: 600;
  border-radius: 8px;
  letter-spacing: 8px;
  float: left;
  box-shadow: 0 0 2px #666;
}
.copy-bubble:focus {
  outline: none;
}
.remove-bubble {
  width: 49.5%;
  color: white;
  background: #CC0000;
  font-weight: 600;
  border-radius: 8px;
  letter-spacing: 8px;
}
.remove-bubble:focus {
  outline: none;
}
.add-label {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-bottom: 0;
}
.add-label:hover {
  cursor: pointer;
}
.control-box {
  float: left;
  height: 100%;
  width: 11em;
  z-index: 10;
  color: white;
  overflow: scroll;
  text-align: center;
}
.css-option {
  height: 2em;
  width: 80%;
}
.add-bubble-image {
  font-size: 30px;
  width: auto;
  height: auto;
  color: grey;
  margin: 11vh 4em;
}
.add-bubble-image:hover {
  color: darkgrey;
}
.add-bubble-image:active {
  font-size: 30px;
}
.color{
  height: 4.3em;
}
input[type=text]:not(.browser-default) {
  width: 75%;
  text-align: center;
  height: 2.5em;
}
.bubble-setting {
  height: 4em;
}
.empty-bubble {
  width: 97%;
  height: 99%;
  margin: .2em .3em;
  border: 3px dotted black;
  border-radius: 8px;
  background-color: lightgrey;
}
.add-circle {
  font-size: 30px;
  margin-top: 27vh;
  margin-left: 4em;
  color: #2C3E5B;
}
.add-circle:hover {
  cursor: pointer;
  color: white;
}
.carousel-img-area {
  width: 100%;
  height: 95%;
  position: relative;
  bottom: 100%;
}
.carousel-img {
  max-width: 100%;
  max-height: 100%;
}
.result-blocks {
  margin: 2px 1px;
  border-radius: 8px;
}
.component{
  width: fit-content;
  min-width: 4em;
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
  border: 1px dotted grey;
  border-radius: 8px;
  text-align: center;
  padding: 0 15px;
  line-height: 100%;
}
.component:focus {
  outline: none;
}
.color-sample {
  width: 77%;
  margin: 0 auto;
  height: 1.5em;
}
.rounder1 {
  border-radius: 8px 8px 0px 0px;
}
.rounder2 {
  border-radius: 8px;
}
.colorExchange {
  margin: 1em auto;
  width: 91%;
  background-image: linear-gradient(-90deg, #e83e8c, #ffc107);
  color: white;
  border-radius: 8px;
}
.colorExchange:focus {
  outline: none;
}
.copyChu {
  margin: 1em auto;
  width: 91%;
  border-radius: 8px;
  margin-bottom: 0;
}
.copyChu:focus {
  outline: none;
}
.balloon-image{
  float: right;
  display: inline-block;
  position: relative;
  height: auto;
  width: max-content;
  /*max-width: 50vh;*/
  margin: 0 auto 10px;
  border-radius: 10px;
  z-index: 3;
  float: right;
  color: white;
  margin-left: 90%;
}
.copy {
  color: white;
  background-image: linear-gradient(-90deg, #009b00, #009baa);
}
.paste {
  color: #ffffff;
  background-image: linear-gradient(-90deg, #dc3545, #fd7e14);
}
.image-change{
  background-image: linear-gradient(-90deg, #009b00, #009baa);
  border: 1px solid white;
  font-size: 16px;
  color: white;
  width: 90%;
  border-radius: 8px;
  cursor: pointer;
}
.image-change:active {
  border: 1px solid #333333;
  color: #333333;
}
.image-remove {
  background-image: linear-gradient(-90deg, #dc3545, #fd7e14);
  border: 1px solid white;
  font-size: 16px;
  color: white;
  width: 90%;
  border-radius: 8px;
}
.image-remove:focus {
  outline: none;
}
.design-buttons {
  margin-bottom: 2em;
}
input.color-input{
  margin: 0 auto;
  margin-bottom: 0.5em;
  height: 2em;
}
.reaction-title{
  font-size: 18px;
  font-weight: 500;
}
.mode-show{
  float: right;
  color: #00b900;
  margin-right: 2em;
}
.mode-button {
  border: .8px solid #555555;
  border-radius: 18px;
  opacity: 0.8;
  background: #ffffff;
  color: #333333;
  font-weight: 600;
}
.mode-button:focus {
  outline: none;
}
.mode-button:active {
  border: .8px solid #555555;
  border-radius: 18px;
  opacity: 0.8;
  background: #333333;
  color: #ffffff;
}
input.uri-text {
  margin: 0 auto;
}
.read-title {
  line-height: 3em;
  text-align: center;
  height: 2.7em;
  margin-left: 2em;
  width: 20em;
  float: left;
  border-bottom: 2px solid grey;
}