.col {
  float: left;
  padding: 2px 5px;
  margin: 10px 2px;
  text-align: left;
}
.col-left {
  width: 25%;
}
.col-center {
  width: 49%;
}
.col-right {
  width: 25%;
}
.label{
  border-bottom: 2px solid grey;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
}
.material-icons {
  font-size: 40px;
  color: #00B900;
  margin-right: 30px;
}
.label-friend {
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
}
.friendsList {
  padding-top: 10px;
  height: 37em;
  max-height: 100%;
}
.message {
  width: 100%;
}
.message li {
  height: 50px;
  line-height: 50px;
  text-align: left;
  padding-left: 30px;
  padding-top: 0px;
  margin: 0 auto;
}
.chatting-content {
  height: 37em;
  max-height: 100%;
}
.chatting-text {
  height: 2em;
}
.refresh {
  border:0px white;
  background-color: #00B900;
  padding: 0;
  margin: 0;
  float: right;
  width: 100%;
  text-align: center;
  opacity: 0.6;
}
.refresh:focus {
  outline: none;
}
.refresh:hover {
  opacity: 1.1;
}
.send {
  font-size: 10px;
}
.profile_img {
  width: 35px;
  height: 100%;
  border-radius: 100%;
}
.friendsList ul {
  margin: 0px 5px;
  padding: 0px 5px;
  padding-top: 0px;
}
.friendsList li {
  height: 35px;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.friendsList button {
  background-color: white;
  color: black;
  height: 38px;
  margin:  0px 0px;
  padding: 0px 0px;
}
.profile_img_for_one {
  width: 9em;
  height: 9em;
  align-content: center;
}
.sticker {
  width: 50px;
  height: 50px;
  margin: 0px 0px;
  padding: 0px 0px;
}
.frBtn {
  width: 100%;
  height: 100%;
  text-align: left;
  -webkit-appearance: media-sliderthumb;
}
.frBtn:focus {
  background-color: #CCFFFF;
}
.rotate {
  z-index: 1000;
  animation: flip infinite;
}