.title {
  float: left;
  padding-left: 10px;
  width: 100%;
  text-align: left;
}
hr {
  margin: 5px;
  width: 95%
}
table {
  width: 80%;
  margin-left: 30px;
  border-collapse: inherit;
}
table th {
  width: 50%;
  text-align: center;
  padding: 0px 10px;
}
.top-panel {
  width: 100%;
  text-align: left;
  margin: 0px 10px;
  padding: 0px 10px;
}
.friend_analysis {
  font-weight: 600;
  background-color: #C0C0C0;
  color: #2C3250;
  padding: 5px 5px;
  border-radius: 10px;
  border: 1px solid #C0C0C0;
  box-shadow: 0 0 2px #666;
  width: 19.5%;
  height: 2.7em;
  font-size: 13px;
}
.friend_analysis:focus {
  outline: none;
  background-color: #2C3250;
  color: white;
}
.friend_analysis:hover {
  text-decoration: none;
  background-color: #2C3250;
  color: white;
}
.bottom-panel {
  margin: 0px 10px;
  padding: 0px 10px;
  text-align: left;
  width: 100%;
  height: 50em;
  border: 1px solid #FFF;
  border-radius: 8px;
  box-shadow: 0 0 2px #666;
}
.panel {
  width: 98%;
}
select {
  background-color: lightgray;
  width: 20em;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
  display: -webkit-inline-box;
}
select:focus {
  outline: none;
}
.statistics {
  margin-top: 30px;
}
.pie-chart {
  width: 100%;
  height: 24em;
  margin-top: 20px;
}
.div-left {
  height: 100%;
  width: 49%;
  float: left;
}
.div-right {
  height: 80%;
  width: 49.5%;
  float: right;
  margin-top: 3em;
}
table.table th {
  width: 25%;
  border-top: none;
  border-bottom: 0.5px solid #AAA;
}
table.table td {
  text-align: center;
  height: 2em;
}
.material-icons {
  font-size: 20px;
  margin-left: 20px;
}
#first {
  color: #ffcc00;
}
#second {
  color: #aaaaaa;
}
#third {
  color: #CD853F;
}