<p>お世話になっております。 <%= @resource.email %>様!</p>

<p>このメールはパスワード変更ためのメールでございます。</p>

<p>パスワードの変更のためにご覧の下記リンクをクリックしていただけます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>クリックしなければ既存のパスワードの通りで行います。</p>
