.page {
  height: 90vh;
}
.channel_info {
  width: 90%;
  margin: 15px auto;
}
.channel {
  text-align: center;
}
.channel_ok {
  color: green;
}
.channel_none {
  color: red;
}
.tadaInOut-enter-active{
  animation: fadeIn .5s;
}
.tadaInOut-leave-active{
  animation: fadeIn .5s reverse;
}
.channel_buttons {
  text-align: right;
  margin-right: 3em;
}
button.button {
  background-color: #C0C0C0;
  color: #2C3250;
  padding: 5px 5px;
  border-radius: 10px;
  border: 1px solid #C0C0C0;
  box-shadow: 0 0 2px #666;
  float: right;
  font-size: 16px;
  margin-right: 20px;
}
.button:hover {
  text-decoration: none;
  background-color: #2C3250;
  color: white;
}
.button:focus {
  outline: none;
  background-color: #2C3250;
  color: white;
}
.button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
select {
  background-color: white;
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
  display: -webkit-inline-box;
}
.fadeInOut-enter-active{
  animation: fadeIn .5s;
}
.fadeInOut-leave-active{
  animation: fadeIn .5s reverse;
}
.page-setting {
  float: right;
  width: 15%;
  height: 2.5em;
  margin-right: 1em;
}
.delete {
  margin-right: 0.3em;
  background: #bb0000;
}
.update {
  margin-right: 0.3em;
  background: #339900;
}
.window {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.save {
  font-size: 24px;
  width: fit-content;
  z-index: 2;
  position: absolute;
  top: 27.4em;
  right: 8em;
}
.save:hover {
  cursor: pointer;
  color: green;
}
.close {
  width: fit-content;
  z-index: 2;
  position: absolute;
  top: 29.6em;
  right: 5em;
}
.close:hover {
  cursor: pointer;
  color: red;
}
.channel-detail {
  position: absolute;
  width: 50%;
  height: 88%;
  top: 4em;
  right: 7em;
  background: #eeeee7;
  border-radius: 8px;
}
.channel-name {
  color: blue;
}
.channel-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.channel-name:focus {
  outline: none;
}
.channel-value {
  margin: 10px 20px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
}
.values {
  width: fit-content;
  float: left;
}
.channel-token {
  background: #ffffff;
  height: 10em;
  font-size: 15px;
  line-height: 30px;
}
.imageBtn {
  display: none;
}
.profile {
  font-size: 100px;
  color: #6495ed;
  cursor: pointer;
}
.profile-image {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.tips {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cover {
  position: absolute;
  background-color: #FFFFFF;
  opacity: 50%;
}
.top_cover {
  top: 0;
  width: 100%;
  z-index: 2;
}
.bottom_cover {
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.left_cover {
  left: 0;
  height: 100%;
  z-index: 2;
}
.right_cover {
  right: 0;
  height: 100%;
  z-index: 2;
}
.focus_line {
  position: absolute;
  border: 3px dashed #dc3545;
  z-index: 2;
}
.explanation {
  position: absolute;
  background-color: #000000;
  opacity: .85;
  border-radius: 8px;
  z-index: 3;
}
.info_mark {
  color: #ffc107;
  font-size: 25px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.page_move {
  position: absolute;
  bottom: 18%;
  width: 98%;
  height: 12px;
  margin: 0 auto;
  color: #007bff;
}
.right_move {
  position: relative;
  left: 130px;
}
.left_move {
  position: relative;
  right: 115px;
}
.mover {
  font-size: 22px;
}
.mover:hover {
  cursor: pointer;
}
.tips_detail {
  margin: 13px;
}
.tips_letter {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

.waiting-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.spinner {
  margin: 350px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}