input[type=checkbox] {
  display: none;
}
.title {
  float: left;
  padding-left: 20px;
}
.checkbox {
  opacity: 1;
}
.fList {
  width: 98%;
  padding: 15px;
  margin: 15px;
  float: inherit;
}
.fList th{
  padding: 5px;
  margin: 0;
  height: 10px;
  width: auto;
  background-color: #E0E0F8;
  border-top: 2px solid grey;
}
.fList td {
  padding: 15px 5px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
}
hr {
  margin: 10px;
}
.profile_img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
.sticker {
  width: 50px;
  height: 50px;
  margin: 0px 0px;
  padding: 0px 0px;
}
.msg_time {
  opacity: 0.6;
  font-size: 13px;
  padding-top: 7px;
}
.last_msg {
  line-height: 0px;
}
.tadaInOut-enter-active{
  animation: fadeIn .5s;
}
.tadaInOut-leave-active{
  animation: fadeIn .5s reverse;
}
.detailWindow {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: .9;
}
.detailPanel {
  position: absolute;
  background-color: black;
  width: 25em;
  height: auto;
  top: 8em;
  left: 60em;
  opacity: 2;
  z-index: 20;
  border-radius: 12px;
}
.closeDetail:not([href]):not([tabindex]) {
  float: right;
  color: white;
  font-size: 30px;
  margin-right: 5px;
}
.closeDetail:not([href]):not([tabindex]):hover {
  color: blue;
  text-decoration-line: none;
  font-size: 34px;
}
.detailContents {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  margin-right: 60px;
  width: 90%;
  height: 60vh;
}
.detail {
  background-color: white;
  height: 48vh;
  border-radius: 8px;
}
.detail:focus {
  outline: none;
}
.setting {
  margin: 10px;
  float: right;
  padding-right: 25px;
}
.page-setting {
  width: 15em;
}
select {
  background-color: white;
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
  display: -webkit-inline-box;
}
a:not([href]):not([tabindex]) {
  cursor: pointer;
  color: blue;
}
a:not([href]):not([tabindex]):hover{
  color: blue;
  text-decoration-line: underline;
}
.stampBtnImg {
  width: 5em;
}
.personal {
  width: fit-content;
  height: 3em;
  line-height: 3em;
  float: left;
  margin-left: 30%;
}
.tips {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cover {
  position: absolute;
  background-color: #FFFFFF;
  opacity: 50%;
}
.top_cover {
  top: 0;
  width: 100%;
  z-index: 2;
}
.bottom_cover {
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.left_cover {
  left: 0;
  height: 100%;
  z-index: 2;
}
.right_cover {
  right: 0;
  height: 100%;
  z-index: 2;
}
.focus_line {
  position: absolute;
  border: 3px dashed #dc3545;
  z-index: 2;
}
.explanation {
  position: absolute;
  background-color: #000000;
  opacity: .85;
  border-radius: 8px;
  z-index: 3;
}
.info_mark {
  color: #ffc107;
  font-size: 25px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.page_move {
  position: absolute;
  bottom: 18%;
  width: 98%;
  height: 12px;
  margin: 0 auto;
  color: #007bff;
}
.right_move {
  position: relative;
  left: 130px;
}
.left_move {
  position: relative;
  right: 115px;
}
.mover {
  font-size: 22px;
}
.mover:hover {
  cursor: pointer;
}
.tips_detail {
  margin: 13px;
}
.tips_letter {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

.waiting-screen {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.spinner {
  margin: 350px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
.profile {
  font-size: 48px;
  margin-right: 10px;
  color: #6495ed;
}
.detail_image {
  width: 100%;
  max-width: 6em;
}